<!doctype>
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="scripts/about.js"></script>
  <script src="scripts/logout.js"></script>
  <link rel="stylesheet" href="../styles/about.css">
</head>
<body>

<div class="header">
  <div class="Header-Buttons">
    <a href="/loggedin"><img src="EmoText1.png" class="logo" alt="Logo"></a>
    <div class="Nav-Buttons" style=float:right>
      <a href="#"><button class="Button-Dropdown">
        <select>
          <option value="English">English</option>
          <option value="German">German</option>
          <option value="French">French</option>
          <option value="Spanish">Spanish</option>
          <option value="Italian">Italian</option>
          <option value="Portuguese">Portuguese</option>
        </select>
        </button>
      </a>
      <div class="dropdown">
        <button id="updateUser" onclick="myFunction()" class="dropbtn">Account</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="/about" id="about">About</a>
            <a id="logout-button">Logout</a>
          </div>
      </div>
    <!--  <a href="#"><button class="Button-Design"><p>John Doe</p></button></a> -->
    </div>
  </div>
</div>
    <div class="container">
      <h1>About</h1>
        <h2>Q1: What is this site for?</h2>
          <p>It analyzes the emotional content in text images and pictures.</p>
        <h2>Q2: What did we use?</h2>
          <p>Mongoose, aws, terrseract, node.js, express.js, html/css, heroku, teamwork</p>
        <h2>Q3: Who created this?</h2>
          <h3>Front-End: Michelle Wan & Sean Race</h3>
          <h3>Back-End: Kevin Soloway & Tianxing Liu</h3>
        <h2>Fun facts:</h2>
        <ul>
            <li>This was created at SD Hacks 2019</li>
            <li>This was created in 36 hours</li>
            <li>People mistook Kevin for a mentor</li>
            <li>There was lots of chicken</li>
        </ul>
      </div>

  <script>
  
  </script>
  </body>
