<!doctype>
<head>
  <script src='https://unpkg.com/tesseract.js@v2.0.0-alpha.13/dist/tesseract.min.js'></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="scripts/frontpage.js"></script>
  <script src="scripts/login.js"></script>
  <link rel="stylesheet" href="../styles/frontpage.css">
</head>
<body>

  <div class="header">
    <div class="Header-Buttons">
      <a href="#"><img src="EmoText1.png" class="logo" alt="Logo"></a>
      <div class="Nav-Buttons" style=float:right>
        <a href="#"><button class="Button-Dropdown">
          <select id="language-dropdown">
            <option value="English">English</option>
            <option value="German">German</option>
            <option value="French">French</option>
            <option value="Spanish">Spanish</option>
            <option value="Italian">Italian</option>
            <option value="Portuguese">Portuguese</option>
          </select>
          </button>
        </a>
        <button id="myBtn">Log In</button>

<!-- The Modal -->
          <div id="myModal" class="modal">

  <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div>
                <h2 id="center-text">Hello!</h2>
                <p id="center-text">Sign into your account</p></div>
                <hr id="signin">
                <p>Email or username</p>
                <input id="login-username" type="text" name="username" placeholder="username">
                <p>Password</p>
                <input id="login-password" type="password" name="password" placeholder="password"> <br>
                <!-- <a href="/loggedin" id="login"> -->
                  <a><button id="login-button" type="button" name="login">Login</button></a>
                <!-- </a> -->
                <p id="center-text">Not registered? <a href="/signup" >Sign up!</a></p>
            </div>

          </div>
      </div>
    </div>
  </div>

  <div class="Body-Text">
    <div class="Text-Box">
    <div class="Body-Buttons">
      <a href="#"><button class="Button-Design"><p>Documents</p></button></a>
        <a href="#"><button id = "calculate-button" class="Calculate-Button"><p>Calculate</p></button></a>
        <a href="#"><button id = "clear-button" class="Clear-Button"><p>Clear</p></button></a>
    </div>
      	<textarea class="Form" name="Analysis-Input" cols="100" rows="14" id="analysis-text"></textarea>
     </div>
  </div>

  <div>
    <table class="Result-Box" border="0">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th id="results-box">Results</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
        <tr>
          <td id="positive"></td>
          <td>&nbsp;</td>
          <td id="negative"></td>
        </tr>
        <tr>
          <td id="neutral"></td>
          <td>&nbsp;</td>
          <td id="mixed"></td>
        </tr>
    </table>
  </div>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
  
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
  
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
  
    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }
  
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
  </body>
