<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="scripts/loginrequest.js"></script>
      </head>
  <body>
    <h1>signup</h1>
    <label for="add-signup">username:</label>
    <input type="text" id="add-signup" name="add-signup" placeholder="username">
    <label for="add-signup">password:</label>
    <input type="password" id="add-password" name="add-password" placeholder="password">
    <button id="add-signup-button">submit</button>
    <br/><br/>
    <h1>login</h1>
    <label for="add-login">username:</label>
    <input type="text" id="add-login" name="add-login" placeholder="username">
    <label for="add-login">password:</label>
    <input type="password" id="password" name="password" placeholder="password">
    <button id="add-login-button">submit</button>
    <br/><br/>
  </body>
</html>