body {
    background: #6DAEDB;
    margin: 0;
    font-family: sans-serif;
    margin-bottom: 2%;
  }
  
  p {
    font-size: 16px;
  
  }
  
  .logo {
    width: 10%;
  }
  
  .Nav-Buttons {
    float:right;
  }
  
  
  .header {
    background-color: #173753;
    padding: 1.5%;
    font-size: 25px;
  
  }
  
  .History-Box {
    border-style: solid;
    border-radius: 4%;
    border-color: #2892d7;
    border-width: thick;
    float: right;
    background-color: #ffffff;
    padding: 1.8%;
    margin-right: 10%;
    margin-top: 4.8%;
  }
  .Text-Box {
    float: left;
    padding-bottom: 5%;
    border-width: thick;
  }
  
  .Body-Text {
    margin-left: 5%;
  
    margin-top: 5%;
  }
  
  .Form {
    border-style: solid;
    border-radius: 4%;
    border-color: #2892d7;
    border-width: thick;
  }
  
  th {
    padding: 3%;
  }
  
  td {
    padding: 2%;
    padding-bottom: 2%;
  }
  
  hr {
    width: 280%;
    margin-bottom: 1%;
  }
  .Result-Box {
    border-style: solid;
    border-radius: 4%;
    border-color: #2892d7;
    border-width: thick;
    background-color: #ffffff;
    width: 80%;
    margin-left: 10%;
  }
  
  .Clear-Button {
    float: right;
    background-color: #3F3A7D;
    border-color: #3F3A7D;
    color: #ffffff;
    margin-right: 1%;
    border-radius: 4%;
  }
  
  .Calculate-Button {
    float: right;
    background-color: #C3771D;
    border-color: #C3771D;
    color: #ffffff;
    border-radius: 4%;
    width: 20%;
  }
  
  .Button-Design {
    background-color: #1D7082;
    border-color: #1D7082;
    color: #ffffff;
    border-radius: 4%;
    margin-bottom: 1%;
    width: 15%;
  }
  
  .Button-Dropdown {
    background-color: #1D7082;
    border-color: #1D7082;
    color: #ffffff;
  }
  
  
  button {
    border-radius: 8%;
  }
  
  select {
    background-color: #1D7082;
    border: #1D7082;
    color: #ffffff;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  
  .dropbtn {
    background-color: #1D7082;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #AE0505;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    max-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
  }
  
  #signin {
    width: 90%;
  }
  
  #myBtn {
    background-color: #1D7082;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  #login-button {
    background-color: #1D7082;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 4%;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 5px solid #d7d7d7;
    width: 25%;
    text-align: center;
  }
  h2 {
    font-size: 200%;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  